// Variables
$color-primary: #4682A9;
$color-secondary: #4e4e4e;

$color-text: #4e4e4e;
$color-text-secondary: #000;

$color-bg: #F6F4EB;


.AboutUS{
    width: 96%;
    height: 100%;
    margin: 0 auto;
}